/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 7
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* BUTTONS */
.btn-green {
	background: #1abc9c;
	color: white;
	border-radius: 2px;
}

.btn-green:hover {
	background: #16a085;
	color: white;
}

/* HORIZONTAL LINE */
hr {
	border: 1px solid #1abc9c;
	width: 120px;
}

/* H4 Global Modification */

h4 {
	font-weight: 700;
}

/* Color Theme */
.green {
	color: #1abc9c;
}

/* Size Helper */

.big {
	font-size: 60px;
}

.text16 {
	font-size: 16px;
}

.text28 {
	font-size: 28px;
}

.text28 i {
	padding: 8px;
}

/* HEADER SECTION */
#h {
	background: url(../img/header.jpg) no-repeat center top;
	padding-top: 60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h3.logo {
	font-weight: 900;
	text-align: center;
	color: white;
	margin-bottom: 120px;
	border: 3px solid white;
	width: 150px;
	padding: 12px;
}

#h h1 {
	color: white;
	font-size: 60px;
}


#h .continue {
	font-size: 30px;
	color: #1abc9c;
	margin-top: 80px;
}

/* CALL TO ACTION */
#cta {
	background: #2f2f2f;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

#cta h2 {
	text-align: center;
}

/* GREY SECTION */

#g {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f7f8fa;
}


#testimonial {
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 450px;
	background: #2f2f2f;
	color: white;
}

#testimonial p {
	font-size: 16px;
	color: #ccc;
}

#testimonial hr {
	border: solid 1px #ccc;
	width: 80px;
}


/* GENERAL CONF */

i {
	margin-right: 10px;
}

input {
	font-size: 18px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: none;
	margin-bottom: 10px;
	background-color: #e9f0f2;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

.content__area {
	padding-top: 1.0675rem;
	border-radius: .25rem;
}

.row {
	padding-top: 60px;
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.content__area p {
	margin-top: 0;
	color: rgba(0,0,0,.56);
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	color: #9e9e9e;
	line-height: 1.9735rem;
}

.content__area ul, .media-container ul {
	margin: 0;
	list-style-position: outside;
	color: #969696;
	font-size: 1.4rem;
	list-style-position: inside;
	font-weight: 600;
}


.header{
	width: 100%;
	position: fixed;
	top:0;
	background-color:#f7f8fa;
	z-index: 500;
	height: 80px;
}

.laptop-hide {
	display: block;
}

.header__nav {
	font-size: 16px;
	padding-left: 5px;
	white-space: nowrap;
}

header li {
	display: inline-block;
	position: relative;
	line-height: 28px;
	text-decoration: none;
	vertical-align: top;
	padding: 10px;
}

header li a:hover{
	color: white;
	background-color: #1abc9c;
}

header li:hover{
	color: white;
	border-bottom: 3px solid black;
}

header .headerTel{
	 text-align: center;
}

.aboutUs-text{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: 600;
	color: #9e9e9e;
	line-height: 1.9735rem;
}

header .logo{
	margin-left: 50px;
}

.logo a{
	border: 2px solid black;
	padding:10px;
}

.logo a:hover{
	background-color: white;
	color: #1abc9c;
}

.payLink{
	font-size: 30px;
	margin-bottom: 20px;
	margin-top:20px ;
	padding: 10px;
	border: 2px black solid;
	text-align: center;
	border-radius: 50px;
	background-color: #285e8e;
}

.payLink{
	color: white;
}

.payLink:hover{
	color: yellow;
}

.payList li{
	font-size: 1.4em;
	line-height: 35px;
}

.red{
	font-size: 20px;
	color: red;
}

.content-box{
	background-color: #f7f8fa;
}

.inputPay{
	width: 300px;
}

@media handheld, (max-width: 900px){
	.header {display:flex;flex-direction: column; position: relative;box-sizing: content-box;height: auto}
	.header li{display:flex;flex-direction: column}
	.header li a{display:flex;justify-content: center}
	 header .logo{margin-left:0}
	.inputPay{width: 300px}
	.payLink{margin: 20px;width: 300px;font-size: 15px}
	.development{width: 100%}
}
